In [4]:
import numpy as np
import pandas as pd

madrid = pd.read_csv('openflights_madrid.csv')
madrid

,Date,From,To,Flight_Number,Airline,Distance,Duration,Seat,Seat_Type,Class,Reason,Plane,Registration,Trip,Note,From_OID,To_OID,Airline_OID,Plane_OID
0,- -,MAD,ACC,Iberia Airlines (IB),Iberia Airlines,2416,5:19,NaN,NaN,NaN,NaN,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Direct,1229,248,2822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,- -,MAD,ACE,Ryanair (FR),Ryanair,977,2:27,NaN,NaN,NaN,NaN,738,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Direct,1229,1055,4296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,- -,MAD,ACE,Iberia Airlines (IB),Iberia Airlines,977,2:27,NaN,NaN,NaN,NaN,32S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,NaN,NaN,NaN,Codeshare,1229,1678,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,- -,MAD,ZRH,Iberia Airlines (IB),Iberia Airlines,770,2:02,NaN,NaN,NaN,NaN,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,NaN,NaN,NaN,Direct,1229,1678,2822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650,- -,MAD,ZRH,Swiss International Air Lines (LX),Swiss International Air Lines,770,2:02,NaN,NaN,NaN,NaN,320 32A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,NaN,NaN,NaN,Direct,1229,1678,4559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
aircraft = pd.read_csv('aircrafts.txt',delimiter=';')

aircraft

    Aerospatiale/Alenia ATR 42-300 / 320  AT43  AT4   50               France
0         Aerospatiale/Alenia ATR 42-500  AT45  AT5   50               France
1     Aerospatiale/Alenia ATR 42/ ATR 72    \N  ATR   74               France
2             Aerospatiale/Alenia ATR 72  AT72  AT7   74               France
3              Aerospatiale/BAC Concorde  CONC  SSC  128               France
4                        Airbus A300 pax  A30B  AB3  200  European consortium
..                                   ...   ...  ...  ...                  ...
212                        Sikorsky S-61   S61  S61   30        United States
213                        Sikorsky S-76   S76  S76   13        United States
214              Tupolev Tu-204 / Tu-214  T204  T20  212   Russian Federation
215                        Tupolev Tu134  T134  TU3   96   Russian Federation
216                        Tupolev Tu154  T154  TU5  164   Russian Federation

[217 rows x 5 columns]