In [240]:
import pandas as pd
from Constants import *
from Market_Analysis.Regional_Aircraft_list import aircraft_list
itami_airport_csv = pd.read_csv('Itami_airport.csv')

In [241]:
itami_airport_csv = itami_airport_csv[["From","To","Airline","Distance","Duration","Plane"]].iloc[::2]
itami_airport_csv = itami_airport_csv[itami_airport_csv['Distance'] <= (500 * 1.151)]
itami_airport_csv = itami_airport_csv[itami_airport_csv["Plane"] != "CRJ"]

In [252]:
itami_airport_csv

   From   To             Airline  Distance Duration                Plane
0   ITM  AOJ      Japan Airlines       500    01:30                  E70
2   ITM  ASJ      Japan Airlines       552    01:36                  73H
6   ITM  AXT  All Nippon Airways       424    01:20                  DH8
14  ITM  FKS       Ibex Airlines       325    01:09                  CR7
16  ITM  FKS  All Nippon Airways       325    01:09      735 CRJ DH8 CR7
18  ITM  FUK       Ibex Airlines       296    01:05                  CR7
20  ITM  FUK      Japan Airlines       296    01:05                  E70
22  ITM  FUK  All Nippon Airways       296    01:05          767 735 737
24  ITM  GAJ      Japan Airlines       370    01:14              E70 CRJ
28  ITM  HNA      Japan Airlines       448    01:23              E70 CRJ
30  ITM  HND      Japan Airlines       250    01:00              777 767
32  ITM  HND  All Nippon Airways       250    01:00  772 767 787 773 320
34  ITM  KCZ  All Nippon Airways       132    00:45              DH8 735
36  ITM  KIJ      Japan Airlines       299    01:05                  E70
38  ITM  KIJ  All Nippon Airways       299    01:05                  738
40  ITM  KMI      Japan Airlines       305    01:06              CRJ E70
42  ITM  KMI  All Nippon Airways       305    01:06          737 735 DH8
44  ITM  KMJ      Japan Airlines       295    01:05              E70 CRJ
46  ITM  KMJ  All Nippon Airways       295    01:05          320 DH8 735
48  ITM  KOJ      Japan Airlines       341    01:10              73H E70
50  ITM  KOJ  All Nippon Airways       341    01:10          320 767 735
52  ITM  MSJ      Japan Airlines       521    01:32                  E70
56  ITM  MYJ  All Nippon Airways       169    00:50      DH8 737 320 767
58  ITM  NGS      Japan Airlines       341    01:10                  E70
60  ITM  NGS  All Nippon Airways       341    01:10              320 735
62  ITM  NRT   American Airlines       286    01:04              773 737
64  ITM  NRT      Japan Airlines       286    01:04                  773
66  ITM  NRT  All Nippon Airways       286    01:04              738 767
68  ITM  OIT       Ibex Airlines       229    00:57                  CR7
70  ITM  OIT      Japan Airlines       229    00:57                  CR7
72  ITM  OIT  All Nippon Airways       229    00:57              CR7 DH8
78  ITM  SDJ       Ibex Airlines       382    01:15                  CR7
80  ITM  SDJ      Japan Airlines       382    01:15                  E70
82  ITM  SDJ  All Nippon Airways       382    01:15              320 767

In [255]:
itami_airport_final = pd.DataFrame(columns=["From","To","Airline","Distance","Duration","Plane"])
for i in range(itami_airport_csv.shape[0]):
    for j in range(len(aircraft_list)):
        if itami_airport_csv['Plane'].iloc[i].str.contain(aircraft_list[j], case=False) == True:
            itami_airport_final.append(itami_airport_csv.iloc[i])
            pass
        else:
            continue

AttributeError: 'str' object has no attribute 'str'